* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

hr {
   height: 4px; 
   border: none;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

/*====================================CLASSES========================*/

.menu {
    background-color: #F3F3F3;
    
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem 0.8rem;
}

.menu ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    padding: 0 1rem;
    font-weight: bold;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    text-decoration: underline;
    color: #2D9596;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner div:nth-child(1) {
    position: absolute;
    align-self: center;
    padding: 0 1.5rem;
}

.banner div h1:last-of-type {
    color: #2D9596;
}

.banner p {
    color: #B0A695;
}

.banner img {
    width: 100%;
}

.banner a {
    text-decoration: none;
    font-weight: bold;
    color: #2D9596;
}

.button-shop {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.button-shop a {
    position: absolute;
    align-self: center;
    padding-top: 1.2rem;
}

.button-shop img {
    justify-content: space-around;
}
